:root {
  --clr-black: #202020;
  --clr-red: #e50913;
  --clr-blue: #73b6ff;
  --clr-grey: #f3f3f3;
  --clr-drk-grey: #e0e0e0;
}

/* General */
body,
html {
  background-color: var(--clr-black);
  color: var(--clr-drk-grey);
}

/* header */
header.container-fluid {
  background-image: linear-gradient(to bottom, #060606, var(--clr-black));
  padding-top: 1rem;
  padding-inline: 3rem;
}

.nav-container {
  height: 2rem;
}

.top-logo {
  height: 2rem;
  margin-left: 1.2rem;
}

.top-logo img {
  height: 100%;
  object-fit: cover;
}

.navbar-toggler {
  color: var(--clr-drk-grey);
}

.search-btn.dropdown-toggle.btn {
  border: none;
  font-size: 15px;
  background: none;
}

.dropdown-item {
  font-size: 0.7rem;
  padding: 0.5rem;
  min-height: 0.4rem;
}

.dropleft .search-btn::before {
  display: none;
}

#navbarSupportedContent ul {
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 40rem;
}

@media screen and (max-width: 992px) {
  #navbarSupportedContent ul {
    background-color: rgba(0, 0, 0, 0.739);
    width: 10rem;
  }
}

.nav-item .nav-link {
  color: var(--clr-drk-grey);
  font-size: 0.8rem;
}

.nav-item.active .nav-link {
  font-weight: bold;
}

.bell-symbol {
  font-size: 1.4rem;
}

.account-symbol {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
}

.account-symbol img {
  height: 100%;
}

.info-top {
  padding-inline: 15px;
  height: 3rem;
  position: sticky;
  top: 0;
}

.dropdown .btn {
  color: var(--clr-grey);
  background-color: black;
  border: 1px solid var(--clr-grey);
  border-radius: 0;
  word-spacing: 1.8rem;
  font-size: 0.7rem;
  padding-top: 3px;
  padding-bottom: 3px;
}

.dropleft .btn {
  color: var(--clr-grey);
  background-color: black;
}

.dropdown .btn:hover {
  background-color: #505050;
}

.top-icons {
  height: 100%;
  font-size: 1.5rem;
}

.top-icons i,
.top-icons svg {
  border: 1px solid var(--clr-grey);
  height: 3rem;
  width: 3rem;
  padding: 10px;
}

/* main */
.carousel-control-prev {
  left: -2rem;
}

.carousel-control-next {
  right: -2rem;
}

section .row {
  min-height: 7rem;
}

section .col {
  height: 100%;
}

.card {
  height: 100%;
  border: none;
  overflow: hidden;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.no-wrap {
  overflow-wrap: normal;
  flex-wrap: nowrap;
}

/* footer */

.icon-container i {
  margin-right: 1rem;
  font-size: 2rem;
}

footer.container {
  margin: 20px auto 0;
  max-width: 980px;
}

.bottom-link a {
  color: #505050;
}

.bottom-link {
  list-style: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-list {
  margin-bottom: 0;
}

#userMovieRow .goToBackOffice {
  z-index: 2;
  position: relative;
}

/* backoffice */

.addMovieContainer .btn {
  font-size: 1.3rem;
  word-spacing: normal;
}

.addMovieContainer .dropdown-menu {
  position: absolute;
  background-color: var(--clr-drk-grey);
  width: 160%;
}

.addMovieContainer .dropdown-item {
  min-height: 0.5rem;
  font-size: 1rem;
}

#movieToEdit .noMovieMessage {
  border: 2px solid var(--clr-red);
}

#backToMenu {
  background-color: var(--clr-drk-grey);
  height: 2.5rem;
  margin-left: 1rem;
}

.genreRowTitle {
  border-top: 1px solid var(--clr-black);
}

#allMoviesContainer {
  background-color: var(--clr-drk-grey);
  color: var(--clr-black);
}

#allMoviesContainer .movieToEditImg {
  height: 10rem;
}

.editMovieForm {
  width: 70%;
  margin-inline: auto;
}
